@font-face {
    font-family: myFirstFont;
    src: url(/src/assets/font/Poppins-Regular.ttf);
  }

body {
    margin: 0;
    font-family: myFirstFont;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f9de7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f9de7;
}
